#ignore all temp files
*~
\#*#
.#*

#ignore desktop files, but keep the directory
desktop/*

#ignore certain directories
auto-save-list
target
elpa

#ignore specific package files
ac-comphist.dat

#ignore operating system files
.DS_store